extends: eslint:recommended

env:
  browser: true
  node: true

rules:
  block-scoped-var: warn
  comma-dangle:
    - warn
    - only-multiline
  no-empty: warn
  consistent-return: warn
  guard-for-in: warn
  no-eq-null: warn
  no-multi-spaces: warn
  no-return-assign: warn
  no-self-compare: warn
  no-unmodified-loop-condition: warn
  no-unused-expressions: warn
  no-shadow-restricted-names: warn
  no-mixed-operators: warn
  no-multi-assign: warn
  no-trailing-spaces: warn
  no-redeclare: warn
  quotes:
    - warn
    - double
    - avoidEscape: true
