.ignored {
    color: red;
    background-color: inherit;
}

.right-align {
    text-align: right;
}

.raw {
    font-family: monospace;
    white-space: pre;
}

.threadgroup {
    margin-top: 1.5em;
}

.threadcount {
    font-weight: bold;
}

.warn {
    color: red;
    background-color: inherit;
}

a.internal:link {
    color: blue;
    background-color: inherit;

    text-decoration: none;
}

a.internal:visited {
    color: blue;
    background-color: inherit;

    text-decoration: none;
}

a.internal:hover {
    color: blue;
    background-color: inherit;

    text-decoration: underline;
}

td.synchronizer {
    vertical-align: top;
}

div.synchronizer {
    margin-top: 0.25em;
}

:target {
    color: inherit;
    background-color: #ffa;
}
