.ignored {
    color: red;
}

.right-align {
    text-align: right;
}

.raw {
    font-family: monospace;
    white-space: pre;
}

.threadgroup {
    margin-top: 1.5em;
}

.threadcount {
    font-weight: bold;
}
